*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.conteiner{
    width: 1140px;
    margin: 0 auto;
}
#headerPart{
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.menuBar{
    display: flex;
    align-items: center;
}
.menu ul{
    display: flex;
}
.menuBar .menu ul li a{
    padding: 0 20px;
    color: #181818;
    font-weight:400;
    font-size: 20px;
    transition: .4s;
}
.menuBar .logo{
    width: 60%;
}
.menuBar .menu{
    width: 20%;
}
.menuBar .btn{
    width: 20%;
}
.btn a{
    background: #FD6E0A;
    padding: 18px 36px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
}
.menuBar .menu ul li a:hover{
    color:#FD6E0A;

}
#bannerPart{
    background: url(../images/Group\ 3988.png);
    padding-bottom: 260px;
    padding-top: 305px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bannerContent .text{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}
.bannerContent h1{
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    padding: 45px 0;
}
.bannerContent .textTwo{
    font-weight: 400;
    font-size: 18px;
    color: #474747;
    width: 585px;
    line-height: 30px;
}
.button{
    padding: 30px 0;
}
.button a{
    padding: 15px 17px;
    background: #FD6E0A;
    border-radius: 5px;
    color: white;
    margin-right: 20px;
    font-size: 20px;
    border: 2px solid #FD6E0A;
    
}
.button a:hover{
    color:#FD6E0A;
    background: transparent;
    
}


.aboutContent{
    padding: 150px 0;
    background-color: #fff8f3;
    margin: 130px 0;
    text-align: center;
}
.aboutContent h2{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}
.aboutContent p{
    width: 827px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 18px;
}

    
.part{
   display: flex;
   font-size: 20px;
}


.whatContent{
    /* padding: 100px 0; */
    background-color: #fff;
    margin: 130px 0;
    text-align: center;
}
.whatContent h2{
   font-weight: 700;
    font-size: 35px;
    color: #181818;
    padding: 20px 0; 
}
.whatContent p{
    width: 827px;
    margin: 0 auto;
    /* padding: 10px 0; */
    line-height: 30px;
    font-size: 18px;
}

.allBox{
    display: flex;
    margin: 0 20px; 
    justify-content:space-between;
    
}
.boxA p{
    line-height: 28px;
    font-size: 16px;
    

}
.boxB p{
    line-height: 28px;
    font-size: 16px;
    

}
.boxC p{
    line-height: 28px;
    font-size: 16px;
    

}
.boxD p{
    line-height: 28px;
    font-size: 16px;
    

}
.boxA h3{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0;

}
.boxB h3{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0;

}
.boxC h3{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0;

}
.boxD h3{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0;

}
.boxOne{
    background-color:#fff;
    width: 200px;
    border-radius: 5px;
    padding: 20px;
    box-shadow:  10px 10px 15px rgba(0, 0, 0, 0.3);
}
.boxTwo{
    background-color:#fff;
    width: 200px;
    border-radius: 5px;
    padding: 20px;
    box-shadow:  10px 10px 15px rgba(0, 0, 0, 0.3);
}
.boxThree{
    background-color:#fff;
    width: 200px;
    border-radius: 5px;
    padding: 20px;
    box-shadow:  10px 10px 15px rgba(0, 0, 0, 0.3);
}
.boxFour{
    background-color:#fff;
    width: 200px;
    border-radius: 5px;
    padding: 20px;
    box-shadow:  10px 10px 15px rgba(0, 0, 0, 0.3);
}
/* resume part start */
.sum{
   padding: 100px 0;
   text-align: center;
 
}
.sum h2{
    font-weight: 700;
    font-size: 35px;
    color: #181818; 
}
.parent{
    display: flex;
    justify-content: space-between;
}
.childOne{
    width: 500px;
}
.childTwo{
    width: 500px;
}

.childOne h3{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    padding: 30px 0;
}
.childTwo h3{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    padding: 30px 0;
}
.childOne h4{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}
.childTwo h4{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}
.childOne .resu{
   font-size: 20px;
   font-weight: 600;
    color: #474747;
    padding: 10px 0;
    

}
.childTwo .resuT{
   font-size: 20px;
   font-weight: 600;
    color: #474747; 
    padding: 10px 0;
}
.childOne p{
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    padding: 10px 0;
    position: relative;
    
}.childTwo p{
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    padding: 10px 0;
}
 /* .childOne p::before{
   content:"";
    background-color: #181818;
    position:absolute;
    height:2px;
    width:500px; 
}  */

#resumePart .button{
    text-align: center;
    padding-top: 40px; 
}


#footerPart{
    background-color: #fff8f3;
    padding: 200px 0;
}
.contact{
    width: 520px;
    /* padding: 20px 0; */
}
.contact h2{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.contact p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #181818;
    padding: 30px 0;
}
.contact a{
    color: #FD6E0A;
    padding: 0 10px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.messege h2{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
/* .messege .button a{
    font-size: 20px;
    font-weight: 700;
} */






